.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-app-card{
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 15px;
}

.list-items{
  list-style: none;
  width: 78%;
  margin: 10px auto 0;
  text-align: left;
  padding: 0;
}

.list-items li {
  padding: 15px 0;
  border-bottom: 1px dashed #ccc; 
  display: flex;
  justify-content: space-between;
}

.list-items li label{
  margin-left: 7px;
}

.form-field{
  border: 1px solid #ccc;
  padding: 0 15px;
  height: 35px;
  border-radius: 5px;
  line-height: 32px; 
  width: 70%;
}

footer{
  width: 78%;
  text-align: left;
  margin: 20px auto 0;
}

footer button{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}